## Pandas
Pandas is a Python tool that helps you work with data easily ‚Äî like how Excel works with tables.

It lets you:
	‚Ä¢	Read data from files (like CSV or Excel)
	‚Ä¢	Look at it in a table format
	‚Ä¢	Clean it if it‚Äôs messy
	‚Ä¢	Sort, filter, and analyze it
	‚Ä¢	Save the clean data again

Pandas is used a lot in data analysis, data science, and machine learning because most real-world data comes in table form ‚Äî with rows and columns ‚Äî and Pandas makes working with that kind of data super simple and powerful.



Pandas gives you 2 main tools:
	1.	Series ‚Üí a single column (like a list with labels)
	2.	DataFrame ‚Üí a full table (like an Excel sheet)
	‚Ä¢	It works on top of NumPy, meaning it uses NumPy under the hood to do fast calculations but adds labels (column names and row numbers) so it‚Äôs easier to understand and work with.
	‚Ä¢	It‚Äôs made for structured data (tables), which is the kind of data you usually get in the real world: CSVs, spreadsheets, databases, survey results, etc.

Why Pandas is Important
	‚Ä¢	It‚Äôs the starting point for any data science or machine learning project
	‚Ä¢	It helps you explore and clean data before you can build charts or train models
	‚Ä¢	It‚Äôs much easier to use than raw Python or NumPy when working with tabular data


üßÆ NumPy (Numerical Python)

NumPy is a Python library that focuses on numerical operations and high-performance computations using arrays.
	‚Ä¢	It works with n-dimensional arrays (like lists of numbers, grids, or even 3D arrays).
	‚Ä¢	It‚Äôs mainly used for mathematical operations, linear algebra, matrix multiplications, and scientific calculations.
	‚Ä¢	It‚Äôs extremely fast because it uses optimized C code underneath.
	‚Ä¢	Data in NumPy doesn‚Äôt have column or row labels ‚Äî just index positions (like array[0][1]).
	‚Ä¢	It‚Äôs perfect when you need to work with large sets of numbers or mathematical modeling, such as building machine learning algorithms from scratch.
	‚Ä¢	However, for real-world data like customer information or CSV files, NumPy alone is not very intuitive.

‚∏ª

üêº Pandas (Python Data Analysis Library)

Pandas is a library built on top of NumPy that makes working with structured/tabular data much easier. Behind the scenes numpy is the one that is working as a engine for most of the cases. Pandas can be considered as a dashboard for now.
	‚Ä¢	It introduces two main data structures: Series (1D labeled array) and DataFrame (2D labeled table).
	‚Ä¢	With Pandas, you can easily read data from files like CSVs, Excel sheets, and databases.
	‚Ä¢	It allows you to filter, sort, group, and clean data using human-friendly row and column labels.
	‚Ä¢	It‚Äôs designed to make real-world data handling simple and efficient ‚Äî especially when data is messy or unstructured.
	‚Ä¢	While it‚Äôs not as fast at pure number crunching as NumPy, it makes data analysis workflows far more convenient.
	‚Ä¢	In most data science projects, Pandas is used first to clean and explore the data, and then NumPy may be used underneath for the calculations.


Pandas is built using NumPy (for data handling and speed), Cython (for performance), and Python (for structure), and it wraps them into a simple, powerful toolkit for working with structured data.

In [1]:
import pandas as pd 
import numpy as np
#You do not need to import NumPy just because Pandas is built on top of it.
#You only import NumPy when you plan to use NumPy directly in your own code.

Analyzing the Group of seven which is political formed by Canada, France, Germany,Italy, Japan , United Kingdom and United States . We will start analyzing the population and we will be initiating it with pandas.Series Object.

Data Structue refer to the way of storing a data in a computer so that it can be used effeciently.
Pandas has two types of data structures. 
1. pandas.Series
2. pandas.DataFrame

Think of data structures like containers:
	‚Ä¢	A Series is like a single column of labeled data (e.g., a list of countries with their populations).
	‚Ä¢	A DataFrame is like an Excel sheet ‚Äî a table with rows and columns.

In [2]:
# Population in Millions
g7_population = pd.Series([35.467, 63.941, 80.940, 60.665, 127.061, 64.511, 318.523])

pd.Series() is a function providecd by the Pandas Library that stores the data creating a Series Object that is one dimensional array. Its like a dictionary or Excel column.

In [3]:
g7_population

0     35.467
1     63.941
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7_population.name = "Group Seven Population in Millions"

In [5]:
g7_population
#We can add a name to the pandas series

0     35.467
1     63.941
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: Group Seven Population in Millions, dtype: float64

Series are pretty similar to numpy arrays.

In [6]:
g7_population.dtype

dtype('float64')

In [7]:
g7_population.values
#This shows the underlying datas in a Series

array([ 35.467,  63.941,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [8]:
type(g7_population.values)
#By this we can conclude that it is indeed a numpy array. So pandas series is a numpy array

numpy.ndarray

In [9]:
#We can access its elements similar to extracting the elements in a python list
g7_population[0]

np.float64(35.467)

In [10]:
g7_population[1]

np.float64(63.941)

In [11]:
g7_population.index

RangeIndex(start=0, stop=7, step=1)

We can see that a pandas series and a list both have their respective index. Index are metioned for the pandas if we look at them but for the list they are not mentioned but its there. The main difference is that the index of the pandas series are changable. We can add up our own index to it.

These index are changable for a reason and that is what seperates a pandas library.Pandas allows changeable indexes so that data can be labeled, aligned, and analyzed in a smart and human-friendly way ‚Äî which is essential for real-world data science and analytics.

In [12]:
g7_population.index = [
    "Canada",
    "France",
    "Germany",
    "Italy",
    "Japan",
    "United Kingdom",
    "United States",
]

In [13]:
g7_population
#This change of index helps us in reading the data in a more interactive way
#So from now on we wont be labeling them using a certain index number , instead we will be using their respective meaningful names so that we can easily play with the data

Canada             35.467
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Group Seven Population in Millions, dtype: float64

Now from the above data we can see that it looks similar to a dictionary that is a key value pair rather than a list with added features for data analysis. So, with that we can conclude that we can create series out of a dictionary.

Key differences between a dictionary and pandas series

Label-Based Access

A Python dict allows access to values using keys. For example, my_dict["Canada"] returns the value associated with the key ‚ÄúCanada‚Äù.

Similarly, a pandas.Series allows access to values using custom index labels. For example, my_series["Canada"] returns the corresponding value from the Series.

‚∏ª

Order Preservation

In Python, dictionaries preserve insertion order only from version 3.7 onwards. In earlier versions, the order of keys was not guaranteed.

Pandas Series always preserves the order of elements. When you define values and labels in a specific order, that order is maintained throughout operations unless explicitly changed.

‚∏ª

Vectorized Operations

Dictionaries do not support vectorized operations. You cannot perform mathematical operations on all values of a dictionary at once. You would need to loop through or use comprehensions.

Pandas Series support vectorized operations. You can perform operations like addition, subtraction, filtering, or applying mathematical functions directly on the entire Series without using loops.

‚∏ª

Support for Missing Values (NaN)

Dictionaries have no built-in support for representing or handling missing values. If a key is absent, accessing it raises a KeyError.

Pandas Series can contain missing values using NaN (Not a Number), which makes it useful for real-world datasets that may have incomplete or missing entries.

‚∏ª

Underlying Data Type

A Python dictionary is a built-in data type and is part of the core Python language. It does not rely on external libraries.

A Pandas Series is built on top of NumPy arrays. This gives it high performance and access to numerical operations that are not available in basic Python structures.


Converting dictionaries or JSON into Pandas Series is a common step in data ingestion and preparation, enabling the analyst to move from raw data to a structured format that‚Äôs easy to analyze and manipulate.

Ways to create a pandas series

In [14]:
#1
g7_population = pd.Series({
    "Canada": 35.467,
    "France": 63.941,
    "Germany": 80.940,
    "Italy": 60.665,
    "Japan": 127.061,
    "United Kingdom": 64.511,
    "United States": 318.523
})

print(g7_population)

Canada             35.467
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [15]:
#2
g7_population = pd.Series(
    [35.467, 63.941, 80.940, 60.665, 127.061, 64.511, 318.523],
    index=["Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States"]
)

print(g7_population)

Canada             35.467
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [16]:
pd.Series(g7_population, index = ["France", "Germany", "Italy", "Spain"])
#This line is:
	# ‚Ä¢	Creating a subset of the original Series,
	# ‚Ä¢	Reordering the entries,
	# ‚Ä¢	Filling NaN for any index label not present in the original (like "Spain" in this case).

France     63.941
Germany    80.940
Italy      60.665
Spain         NaN
dtype: float64

Above use of the given function	
    ‚Ä¢	pd.Series(original_series, index=[...]) creates a new Series.
	‚Ä¢	It is not assigned unless you do so manually.
	‚Ä¢	It‚Äôs useful for selecting, reordering, or introducing missing entries in a structured way.

Indexing

In [17]:
g7_population

Canada             35.467
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [18]:
#Accessing elements of different index in a panda series using key as a index
g7_population["Canada"]

np.float64(35.467)

In [19]:
g7_population['Japan']

np.float64(127.061)

In [20]:
g7_population[0]
#can be accesssed using the label or number index as well as the panda series are always in order

/var/folders/69/vt9s16nj1plcwqqsqytyf4l40000gn/T/ipykernel_10563/1635840347.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_population[0]

np.float64(35.467)

In [21]:
#iloc stands for integer-location based indexing.
g7_population.iloc[0]

np.float64(35.467)

In [22]:
g7_population.iloc[0:2]

Canada    35.467
France    63.941
dtype: float64

In [23]:
g7_population.iloc[0]

np.float64(35.467)

In [24]:
g7_population.iloc[-1]

np.float64(318.523)

In [25]:
data = {
    "Country": ["Canada", "France", "Japan"],
    "Population": [35.5, 66.9, 127.3]
}

df = pd.DataFrame(data)

print(df.iloc[1])    
print(df.iloc[1, 0])    
print(df.iloc[:, 1])

Country       France
Population      66.9
Name: 1, dtype: object
France
0     35.5
1     66.9
2    127.3
Name: Population, dtype: float64

	‚Ä¢	df.iloc[1] ‚Üí Returns the entire second row of the DataFrame as a Series.
	‚Ä¢	df.iloc[1, 0] ‚Üí Returns the value in the second row and first column (i.e., ‚ÄúFrance‚Äù).
	‚Ä¢	df.iloc[:, 1] ‚Üí Returns the entire second column (Population) as a Series from the overall row. ":" means all the row from the start to the end.

In [26]:
g7_population["Canada": "Japan"]
# Gives the data from Canada till Japan and its inclusive in case of series if you do indexing which is different from that of list

Canada      35.467
France      63.941
Germany     80.940
Italy       60.665
Japan      127.061
dtype: float64

Conditional Selection using booleans
Its very similar to that of numpys

In [27]:
g7_population

Canada             35.467
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [28]:
g7_population > 70
#Filtering the series using the boolean condition so that the elements that meets the condition only gets filtered out
    # The twist here is that instead of filtering only the elements meeting the condition it passes the series with it value in the boolean

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
dtype: bool

In [29]:
g7_population[g7_population > 70]
#Here iisntead of passing the values with boolean the elements satisfying the codition it only printed out
#Its more like indexing using the boolean conditions

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [30]:
g7_population.mean()

np.float64(107.30114285714286)

In [31]:
g7_population[g7_population > g7_population.mean()]   
#This shows the data that satisfies the condition that is the datas that has the population greater than the mean

Japan            127.061
United States    318.523
dtype: float64

In [32]:
g7_population.std()
#Std stands for the standard deviation

97.25071289957825

Standard deviation is a measure of how spread out the data is from the average (mean). If the standard deviation is low, it means most of the data points are close to the mean, indicating the data is consistent and stable. On the other hand, if the standard deviation is high, it means the data points are widely spread from the mean, showing inconsistency or variability in the data.

In data science and machine learning, standard deviation is very useful. For example, if you run the same model multiple times and the accuracy varies a lot, the standard deviation of the accuracy will be high. This means the model‚Äôs performance is unstable and unreliable. But if the accuracy stays close to the same value each time, the standard deviation will be low, indicating the model is performing consistently and is more trustworthy.

In [33]:
g7_population[(g7_population > g7_population.mean() - g7_population.std() /2 )| (g7_population  > g7_population.mean() + g7_population.std() / 2 )]

France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

The above formula is trying to find out the series whose population is greater than the average and greather than a certain below the average. In the above code any population above (mean - half of standard deviation) or greater than (mean + half of the standard deviation) are printed out. This means it will just give anything above the threshold (mean- half of standard deviation)

In [34]:
g7_population * 1_000_000
#The use of this "_" is just for the readibility of big numbers

Canada             35467000.0
France             63941000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
dtype: float64

In [35]:
np.log(g7_population)

Canada            3.568603
France            4.157961
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
dtype: float64

The use of the log is to reduce the skewness of the data and bringing it closer to the normal distribution.

Skewness refers to the asymmetry in a dataset‚Äôs distribution. When data is right-skewed (positively skewed), it has a long tail on the right, meaning a few large values pull the average higher‚Äîcommon in things like income data. In left-skewed (negatively skewed) data, the tail is on the left, and a few low values pull the average lower. A dataset with no skew is symmetrical, meaning its values are evenly spread around the average.

A normal distribution, also known as a bell curve or Gaussian distribution, is a special type of symmetrical data distribution where most values cluster around the mean, and fewer values appear as you move away from it. In this distribution, the mean, median, and mode are all the same. Many natural phenomena, like height, weight, and standardized test scores, tend to follow this pattern.

These concepts are widely used in statistics, machine learning, economics, and healthcare. Many algorithms and statistical tests assume that the data is normally distributed. When data is highly skewed, transformations like logarithms are used to reduce skewness and bring the data closer to a normal distribution, which helps improve model accuracy and interpretability.

If 80% of your sales are high and only 20% are low, and those few low sales are much lower than the rest, your data becomes left-skewed (not right-skewed). Why? Because the long tail of the data is on the left side ‚Äî those very low sales pull the distribution in that direction.

Conversely, if most of your sales are low, but a few sales are extremely high, it becomes right-skewed, with a long tail on the right (the high sales stretch the curve).

A normal distribution would mean that most sales are around the average, and both low and high sales are relatively balanced ‚Äî say, a 60/40 split, or even more balanced like 50/50, with symmetry around the mean.

What about Standard Deviation?

Standard deviation does not measure skewness, but instead measures spread ‚Äî how far your data points are from the mean. In a normal distribution, standard deviation tells you things like:
	‚Ä¢	~68% of values lie within ¬±1 standard deviation from the mean
	‚Ä¢	~95% within ¬±2
	‚Ä¢	~99.7% within ¬±3

In skewed data, standard deviation can be misleading, because the mean itself is pulled by outliers. That‚Äôs why we often transform skewed data (e.g., with a log transform) to bring it closer to normal, making standard deviation and other statistical tools more meaningful.

The tail is the key to skewness:
	‚Ä¢	If the tail is on the right side (towards the higher values), the data is right-skewed (positively skewed).
	‚Ä¢	This means most data points are low or moderate, but there are some very high values pulling the tail out to the right.
	‚Ä¢	If the tail is on the left side (towards the lower values), the data is left-skewed (negatively skewed).
	‚Ä¢	This means most data points are high or moderate, but there are some very low values pulling the tail out to the left.



The extreme outliers‚Äîthose data points that are far away from the average‚Äîplay the biggest role in determining skewness.

In [36]:
g7_population["Canada":"Japan"].mean()
#This is the use of slicing to calculate the mean among them

np.float64(73.6148)

Boolean Arrays

In [37]:
g7_population

Canada             35.467
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [38]:
g7_population > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
dtype: bool

In [39]:
g7_population[g7_population > 80]

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [40]:
g7_population[(g7_population > 80) | (g7_population <40)]
# The datas that satisfies any one of them is filtered out

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [41]:
g7_population[(g7_population > 80) & (g7_population < 40)]
#The datas that satisfies both the conditions are filtered out

Series([], dtype: float64)

Modifying a series

In [42]:
g7_population["Canada"] = 100

In [43]:
g7_population

Canada            100.000
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [44]:
g7_population.iloc[-1] = 200
#Using iloc to access the data using the ordering

In [45]:
g7_population

Canada            100.000
France             63.941
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     200.000
dtype: float64

In [46]:
g7_population[(g7_population <= 100)] = 20
#Anything that satisfies the condition are changed accordingly using the condition

In [47]:
g7_population

Canada             20.000
France             20.000
Germany            20.000
Italy              20.000
Japan             127.061
United Kingdom     20.000
United States     200.000
dtype: float64

All of the above procedures are very important in the data cleaning.

Dataframes

A DataFrame in pandas is a two-dimensional, tabular data structure that resembles a table or spreadsheet, where data is organized in rows and columns. Each column in a DataFrame can hold different types of data (e.g., integers, floats, strings), and each column is essentially a Series, which is a one-dimensional labeled array. The key difference is that a Series represents a single column of data with an associated index, while a DataFrame is a collection of multiple Series sharing a common index, allowing for more complex data manipulation and analysis. In simpler terms, a Series is like a single column, and a DataFrame is like a full table made up of multiple such columns.

In [48]:
import pandas as pd

g7_data = {
    'Population': [37742154, 65273511, 83783942, 60461826, 126476461, 67886011, 331002651],
    'GDP': [1736.4, 2715.5, 3845.6, 2001.2, 4971.8, 2829.1, 21433.2],  # in billions USD
    'Continent': ['North America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'North America'],
    'HDI': [0.936, 0.901, 0.942, 0.895, 0.925, 0.929, 0.921]  # Approx HDI values
}

In [49]:
df = pd.DataFrame(g7_data)
#Since the above data is a dictionary we will be using the pandas to make it as a data frame

In [50]:
df

   Population      GDP      Continent    HDI
0    37742154   1736.4  North America  0.936
1    65273511   2715.5         Europe  0.901
2    83783942   3845.6         Europe  0.942
3    60461826   2001.2         Europe  0.895
4   126476461   4971.8           Asia  0.925
5    67886011   2829.1         Europe  0.929
6   331002651  21433.2  North America  0.921

In [51]:
df.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

In [52]:
df
# Here now the country names are being used as the index

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [53]:
df.columns

Index(['Population', 'GDP', 'Continent', 'HDI'], dtype='object')

In [54]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  7 non-null      int64
 1   GDP         7 non-null      float64
 2   Continent   7 non-null      object
 3   HDI         7 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 280.0+ bytes

In [56]:
df.size

28

In [57]:
df.shape

(7, 4)

In [58]:
df.describe()

         Population           GDP       HDI
count  7.000000e+00      7.000000  7.000000
mean   1.103752e+08   5647.542857  0.921286
std    1.010357e+08   7047.741341  0.017423
min    3.774215e+07   1736.400000  0.895000
25%    6.286767e+07   2358.350000  0.911000
50%    6.788601e+07   2829.100000  0.925000
75%    1.051302e+08   4408.700000  0.932500
max    3.310027e+08  21433.200000  0.942000

In [59]:
df.dtypes

Population      int64
GDP           float64
Continent      object
HDI           float64
dtype: object

In [60]:
df.dtypes.value_counts

<bound method IndexOpsMixin.value_counts of Population      int64
GDP           float64
Continent      object
HDI           float64
dtype: object>

In Pandas, .columns returns the list of column names in the DataFrame.
.index displays the row index range or labels.
.info() provides a concise summary including column data types, non-null counts, and memory usage.
.describe() offers statistical summaries such as mean, min, max, and quartiles for numeric columns.
.size gives the total number of elements in the DataFrame (rows √ó columns).
.shape returns a tuple representing the number of rows and columns.
.dtypes shows the data type of each column.
.dtypes.value_counts() counts how many columns exist for each data type.

Indexing, Selection and Slicing

In [61]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [62]:
df.loc['Canada']
#This selects the entire row using the indes

Population         37742154
GDP                  1736.4
Continent     North America
HDI                   0.936
Name: Canada, dtype: object

In [63]:
df.iloc[0]
#Whereas the iloc selects the row using the sequential order

Population         37742154
GDP                  1736.4
Continent     North America
HDI                   0.936
Name: Canada, dtype: object

In [64]:
df['Continent']
#Where as this is used to access the given column

Canada            North America
France                   Europe
Germany                  Europe
Italy                    Europe
Japan                      Asia
United Kingdom           Europe
United States     North America
Name: Continent, dtype: object

All the data that are being returned are series indeed.
Sometimes the problem may arise when dataframe uses a numerical index which for now the country name is being used as a index. So during such times the loc and iloc will still use the label-based indexing no matter what index is being used by the dataframe.

In [65]:
df["Population"].to_frame()
#The above function .to_frame is simply converting the series into a data frame so that we can pass this data as a 2D array if some function expects in that manner.

                Population
Canada            37742154
France            65273511
Germany           83783942
Italy             60461826
Japan            126476461
United Kingdom    67886011
United States    331002651

In [66]:
df["Population"]

Canada             37742154
France             65273511
Germany            83783942
Italy              60461826
Japan             126476461
United Kingdom     67886011
United States     331002651
Name: Population, dtype: int64

The differences here is that the first one is a data frame and second one is a series. How is it differentiated is that the first one has a column name which is the column and the country name which is the row and hence its now a 2D array. Sometimes proper shaping matter when doing different operations so to match those series are needed to be converrted to a dataframe using .to_frame()

In [67]:
df[["Population" , "GDP"]]
#df[] this is how you access a data from a data frame and to pass two columns we pass inside another bracked and selects multiple columns

                Population      GDP
Canada            37742154   1736.4
France            65273511   2715.5
Germany           83783942   3845.6
Italy             60461826   2001.2
Japan            126476461   4971.8
United Kingdom    67886011   2829.1
United States    331002651  21433.2

In [68]:
df.loc['Canada': 'Japan']
#Selecting datas using the slicing

         Population     GDP      Continent    HDI
Canada     37742154  1736.4  North America  0.936
France     65273511  2715.5         Europe  0.901
Germany    83783942  3845.6         Europe  0.942
Italy      60461826  2001.2         Europe  0.895
Japan     126476461  4971.8           Asia  0.925

In [69]:
df.iloc[1:3,-1]
#Filtering the data using the ordering or a label

France     0.901
Germany    0.942
Name: HDI, dtype: float64

In [70]:
df.loc["Italy"]

Population    60461826
GDP             2001.2
Continent       Europe
HDI              0.895
Name: Italy, dtype: object

In [71]:
df.loc["Canada" : "Germany", "Population"]

Canada     37742154
France     65273511
Germany    83783942
Name: Population, dtype: int64

In [72]:
df.loc["Canada" : "Germany", "Population"].to_frame()

         Population
Canada     37742154
France     65273511
Germany    83783942

The one of the thing we should understand is that like in other slicing where the start: end , step were the params that a method would take. But the case is different when we use the loc and iloc instead of taking the step it is actually taking the column and filtering only the given column. loc and iloc are the method only used by the pandas. So now we can conclude that since series is a 1D array and doesnot have a column. We donot pass anything in place of a step. We can similarly pass multiple columns name to extract multiple datas as well.

In [73]:
df.loc["Canada" : "Japan", ["Population" , "GDP"]]
#Similarly since there are two columns we will have to keep it inside another bracket as well

         Population     GDP
Canada     37742154  1736.4
France     65273511  2715.5
Germany    83783942  3845.6
Italy      60461826  2001.2
Japan     126476461  4971.8

iloc works with the numeric position of the index

In [74]:
df.iloc[1]

Population    65273511
GDP             2715.5
Continent       Europe
HDI              0.901
Name: France, dtype: object

In [75]:
df.iloc[:,1]
#This gives all the rows of the mentioned column that is of the index 1

Canada             1736.4
France             2715.5
Germany            3845.6
Italy              2001.2
Japan              4971.8
United Kingdom     2829.1
United States     21433.2
Name: GDP, dtype: float64

In [76]:
df.iloc[0:2, [1,2,3]]
#Selecting multiple columns of a filtered row using the numeric indexing

           GDP      Continent    HDI
Canada  1736.4  North America  0.936
France  2715.5         Europe  0.901

When your DataFrame uses numbers as index values, such as 0, 1, 2, and so on, it can become unclear whether you‚Äôre referring to the index label (like index 0) or the row‚Äôs position (the first row). This can lead to confusion or errors in your code. To avoid this ambiguity, it‚Äôs best to use .iloc[] when you want to select rows by their position (for example, the first, second, or third row), and .loc[] when you want to select rows by their index label (for example, the row that has an index of 0, even if it‚Äôs not the first row). This makes your code clearer and helps prevent mistakes.

Conditional Selection (Boolean Arrays)

In [77]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [78]:
df["Population"] > 50

Canada            True
France            True
Germany           True
Italy             True
Japan             True
United Kingdom    True
United States     True
Name: Population, dtype: bool

In [79]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [80]:
df.loc[df["Population"] < 100000000]

                Population     GDP      Continent    HDI
Canada            37742154  1736.4  North America  0.936
France            65273511  2715.5         Europe  0.901
Germany           83783942  3845.6         Europe  0.942
Italy             60461826  2001.2         Europe  0.895
United Kingdom    67886011  2829.1         Europe  0.929

In [81]:
df.loc[df["Population"] > 100000000 , ["Population","GDP"]]
#Filtration of column based on the given condition

               Population      GDP
Japan           126476461   4971.8
United States   331002651  21433.2

Dropping Stuff

Dropping rows and columns using Pandas 
WHY to use .drop() in pandas:
	1.	To remove irrelevant columns that do not contribute to the analysis or model training.
	2.	To eliminate duplicate or redundant information that could cause noise in the dataset.
	3.	To simplify the dataset for better readability or visualization.
	4.	To remove sensitive or personal data for privacy or compliance purposes.
	5.	To prepare features for modeling by dropping the target column from the feature set (or vice versa).
	6.	To remove rows with invalid or corrupt data that may affect analysis.
	7.	To filter out outliers or unwanted data points based on business rules.
	8.	To clean up merged or joined datasets where some columns may be

WHEN to use .drop() in pandas:
	1.	When preparing data for visualization and only the necessary features are needed.
	2.	When reducing dimensionality to avoid the curse of dimensionality or improve model performance.
	3.	When data contains null or NaN values that you decide to remove instead of imputing.
	4.	When exporting the dataset and you want to exclude internal or helper columns.
	5.	When cleaning raw data before conducting statistical or machine learning tasks.
	6.	When columns have high correlation and you want to drop one to reduce multicollinearity.
	7.	When you‚Äôre performing feature engineering and need to remove outdated or unused features.
	8.	When data violates data integrity or business logic, and the rows/columns must be discarded.


üìå Multicollinearity ‚Äî What is it?

Multicollinearity occurs when two or more independent variables (features) in a dataset are highly correlated with each other ‚Äî meaning they carry similar information.

‚∏ª

üß† Why is multicollinearity a problem?
	1.	Reduces model interpretability: If two features are highly correlated, it‚Äôs hard to tell which one is actually influencing the target.
	2.	Unstable coefficient estimates: In models like linear regression, it can lead to inflated standard errors, making the model‚Äôs predictions unreliable.
	3.	Increases model complexity without adding much value.

High corelation relates to directly proportional.

In [82]:
df.drop("Canada")

                Population      GDP      Continent    HDI
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [83]:
df.drop(["Canada", "Japan"])
#If you are getting confused with the use of [] sometimes. You should know that we are passing a list as a parameter when two columns are together so we use this []

                Population      GDP      Continent    HDI
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [84]:
df.drop(columns = ["Population", "GDP"])

                    Continent    HDI
Canada          North America  0.936
France                 Europe  0.901
Germany                Europe  0.942
Italy                  Europe  0.895
Japan                    Asia  0.925
United Kingdom         Europe  0.929
United States   North America  0.921

In [85]:
df.drop(["Italy", "Canada"], axis=0)
# This axis parameter tells us whether to drop rows or columns where 0 means row and 1 means column.

                Population      GDP      Continent    HDI
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

In [86]:
df.drop(["Population", "HDI"], axis=1)
#When dropping either row or columns the params should be passed based on the axis otherwise it will throw error

                    GDP      Continent
Canada           1736.4  North America
France           2715.5         Europe
Germany          3845.6         Europe
Italy            2001.2         Europe
Japan            4971.8           Asia
United Kingdom   2829.1         Europe
United States   21433.2  North America

The use of the axis is to mostly to remove the confusion in cases where the rows and column are same. So when both of them are same, we will have to pass axis to direct it

In [87]:
df.drop(["Population", "GDP"], axis='columns')
#We can pass the rows and columns as parameters for the axis as well.

                    Continent    HDI
Canada          North America  0.936
France                 Europe  0.901
Germany                Europe  0.942
Italy                  Europe  0.895
Japan                    Asia  0.925
United Kingdom         Europe  0.929
United States   North America  0.921

In [88]:
df.drop(["Canada", "Germany"], axis = "rows")

                Population      GDP      Continent    HDI
France            65273511   2715.5         Europe  0.901
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

Broadcasting Operations

In [89]:
df[["Population", "GDP"]]

                Population      GDP
Canada            37742154   1736.4
France            65273511   2715.5
Germany           83783942   3845.6
Italy             60461826   2001.2
Japan            126476461   4971.8
United Kingdom    67886011   2829.1
United States    331002651  21433.2

In [90]:
df[["Population", "GDP"]] / 100
#Applying the division among the Columns as once.
#Operation at a series work at a column level

                Population      GDP
Canada           377421.54   17.364
France           652735.11   27.155
Germany          837839.42   38.456
Italy            604618.26   20.012
Japan           1264764.61   49.718
United Kingdom   678860.11   28.291
United States   3310026.51  214.332

In [91]:
crisis = pd.Series([-1_000,-0.3], index=['GDP','HDI'])
crisis

GDP   -1000.0
HDI      -0.3
dtype: float64

In the above code we are simply defining a metric for the crisis. It simply represents the metric of a crisis.
The above code is simply adding a series with index named crisis and its mentioned values so we can use it when needed to determine wheter there was a crisis or not
You might:
	‚Ä¢	Compare it with normal times
	‚Ä¢	Plot it
	‚Ä¢	Analyze how big the drop was
	‚Ä¢	Use it in reports or dashboards

In [92]:
df[["GDP", "HDI"]]

                    GDP    HDI
Canada           1736.4  0.936
France           2715.5  0.901
Germany          3845.6  0.942
Italy            2001.2  0.895
Japan            4971.8  0.925
United Kingdom   2829.1  0.929
United States   21433.2  0.921

In [93]:
df[["GDP", "HDI"]] + crisis

                    GDP    HDI
Canada            736.4  0.636
France           1715.5  0.601
Germany          2845.6  0.642
Italy            1001.2  0.595
Japan            3971.8  0.625
United Kingdom   1829.1  0.629
United States   20433.2  0.621

The above adding of the crisis series to the given dataframe is to see how our data behaves on a crisis or stress.

Modifying a dataframe 

Previously when we were dropping different rows and columns, we were not modifying the dataset.
99 percent of the operation in the pandas are immutable. It simply means that the operation in the pandas are mostly unchangable. This simply means that the most operations return a new object and donot modify the original dataframe or a series. There are ways to change it or to make the changes permanent.

In [94]:
lang = pd.Series(
    ["French", "German", "Italian"],
    index = ["France","Germany","Italy"],
    name = "Language"
    )

#Adding a comma in pandas is very important for the seperation of the arguments in the function

In [95]:
df["Language"] = lang

In [96]:
df
# Here we can see that the series we made and added that is the Language is created and the values that were not passed are labelled with NaN
# NaN refer to "Not a Number"

                Population      GDP      Continent    HDI Language
Canada            37742154   1736.4  North America  0.936      NaN
France            65273511   2715.5         Europe  0.901   French
Germany           83783942   3845.6         Europe  0.942   German
Italy             60461826   2001.2         Europe  0.895  Italian
Japan            126476461   4971.8           Asia  0.925      NaN
United Kingdom    67886011   2829.1         Europe  0.929      NaN
United States    331002651  21433.2  North America  0.921      NaN

Replacing the values per column

In [97]:
df["Language"] = "English"

In [98]:
df
#Here we can see that the values of all the elements in the column Language has changed to English for now

                Population      GDP      Continent    HDI Language
Canada            37742154   1736.4  North America  0.936  English
France            65273511   2715.5         Europe  0.901  English
Germany           83783942   3845.6         Europe  0.942  English
Italy             60461826   2001.2         Europe  0.895  English
Japan            126476461   4971.8           Asia  0.925  English
United Kingdom    67886011   2829.1         Europe  0.929  English
United States    331002651  21433.2  North America  0.921  English

The way to know if we are modifying the underlined dataframe is just by seeing the use of the "=" in the code. The underlined dataframe refers to the original dataframe.

Renaming Columns

In [99]:
df.rename(
    columns = {
     "HDI" : "Human Development Index",
     "Annual Popcorn Consumption" : "APC"
    }, index = {
        "United States" : "USA",
        "United Kingdom" : "UK",
        "Argentina" : "AR"
    }
    
)

# The passing of values that are not in the data frame is not a problem as we can see above where we passed Annual Popcorn Consumption and the index Argentina

         Population      GDP      Continent  Human Development Index Language
Canada     37742154   1736.4  North America                    0.936  English
France     65273511   2715.5         Europe                    0.901  English
Germany    83783942   3845.6         Europe                    0.942  English
Italy      60461826   2001.2         Europe                    0.895  English
Japan     126476461   4971.8           Asia                    0.925  English
UK         67886011   2829.1         Europe                    0.929  English
USA       331002651  21433.2  North America                    0.921  English

In [100]:
df
# Even after renaming the Columns and rows , the dataframe has not changed which proves that the dataframe is immutable unless we reassign it to another df. This is not referencing its reassignment.

                Population      GDP      Continent    HDI Language
Canada            37742154   1736.4  North America  0.936  English
France            65273511   2715.5         Europe  0.901  English
Germany           83783942   3845.6         Europe  0.942  English
Italy             60461826   2001.2         Europe  0.895  English
Japan            126476461   4971.8           Asia  0.925  English
United Kingdom    67886011   2829.1         Europe  0.929  English
United States    331002651  21433.2  North America  0.921  English

In [101]:
df.rename(index = str.upper)
#This simply changes the index to Uppercase
#str.upper is a function reference. We are passing the function itself, not calling it 
#pandas will call it internally on each index

                Population      GDP      Continent    HDI Language
CANADA            37742154   1736.4  North America  0.936  English
FRANCE            65273511   2715.5         Europe  0.901  English
GERMANY           83783942   3845.6         Europe  0.942  English
ITALY             60461826   2001.2         Europe  0.895  English
JAPAN            126476461   4971.8           Asia  0.925  English
UNITED KINGDOM    67886011   2829.1         Europe  0.929  English
UNITED STATES    331002651  21433.2  North America  0.921  English

In [102]:
df.rename(index = lambda x : x.lower())
#lambda x: x.lower() is an anonymous function.
#It takes each index value (x) and calls .lowe() on it  
#We need paranthesis here because we are actually calling .lower() inside the lambda which is equivalent to 
# def lower_func(x):
#     return x.lower()
# df.rename(index=lower_func)

                Population      GDP      Continent    HDI Language
canada            37742154   1736.4  North America  0.936  English
france            65273511   2715.5         Europe  0.901  English
germany           83783942   3845.6         Europe  0.942  English
italy             60461826   2001.2         Europe  0.895  English
japan            126476461   4971.8           Asia  0.925  English
united kingdom    67886011   2829.1         Europe  0.929  English
united states    331002651  21433.2  North America  0.921  English

lambda is just a way to create anonymous (unnamed) function that you define on the fly without using def.
A shortcut way to define function on the go

Syntax : 

lambda arguments : expression

Example : 


square = lambda x : x ** 2 

    print(square(4))


which is same as 


def square(x):

    return x ** 2


Why is it used ? 

One-liners that replace def functions 
No naming, no identions 
Used in functional programming like with functions like map() , filter(), sort() and apply() in pandas

Dropping Columns

In [103]:
df.drop(["Language"], inplace = True , axis =1)
#In here if the axis is not passed it will take rows by default so we will need to specify the axis

In [104]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

Now we dive into two core ideas that is immutability and inplace = True. The use of the inplace = True is that it says to directly change the original dataframe instead of returning a new dataframe. This argument overides the default immutability

In [105]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

Chaining 

Chaining means combining multiple operation on one line

Good Chaining

In [106]:
#This is called Chaining
df.drop("GDP", axis=1).head()
#The .head() function is beign called on a new dataframe.

         Population      Continent    HDI
Canada     37742154  North America  0.936
France     65273511         Europe  0.901
Germany    83783942         Europe  0.942
Italy      60461826         Europe  0.895
Japan     126476461           Asia  0.925

Bad Chaining

In [107]:
# Bad: this will break
# Here since inplace arguments make the change in the df directly , it does not create a new dataframe and hence .head() function cant be called.

# df.drop("HDI", axis=1, inplace=True).head()

#But the problem is that it will still make changes in the dataframe and only the .head() function will not be called

In [108]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

Adding Values

In [109]:
# df.append(pd.Series({
#     "Population" : 3000000000,
#     "GDP" : 5
# }, name = "China"))

#This is the deprecated in the newest version of pandas
#The newest version of pandas use .concat instead because it created new dataframe instead of modifying the original one 
#append internally uses concat anyway
#repeated append() calls inside loops are very slow because each call creates a new dataframe.
#pd.concat is more efficient when appending multiple rows at once

Basic syntax of .concat with the arguments it take.
pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, ...)

In [110]:
df = pd.concat(
    [
        df,
        pd.DataFrame({
            "Population" : [3000000000],
            "GDP" : [3],
            "Continent" : "Asia"
        }, index = ["China"])
    ])

In [111]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921
China           3000000000      3.0           Asia    NaN

In the above code we use square brackets because Pandas expects each column‚Äôs values to be in a list-like structure. This ensures the DataFrame knows how many rows to create.Even if you‚Äôre adding just one row, it still has to be wrapped in a list ‚Äî Pandas builds DataFrames row-by-row based on list items. Just like values, the index expects a list of row labels, not just a string:

Importance


‚Ä¢Consistency: 
Lists ensure consistent structure across columns.

‚Ä¢Scalability: 
You can easily add multiple rows later by extending the list.

‚Ä¢Avoids errors: 
Single strings or scalars might cause unexpected behavior or shape mismatch.

In [112]:
df.loc["China"] = pd.Series({"Population" : 1_400_000_000, "Continent" : "Asia"})
#Created a series of China and added its population and continent

In [113]:
df
#The newly added series is not shown in the dataframe, since we didnt pass the GDP, its NaN

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921
China           1400000000      NaN           Asia    NaN

In [114]:
df.drop(["China"], inplace = True)
#Dropping the column China from the dataframe

In [115]:
df

                Population      GDP      Continent    HDI
Canada            37742154   1736.4  North America  0.936
France            65273511   2715.5         Europe  0.901
Germany           83783942   3845.6         Europe  0.942
Italy             60461826   2001.2         Europe  0.895
Japan            126476461   4971.8           Asia  0.925
United Kingdom    67886011   2829.1         Europe  0.929
United States    331002651  21433.2  North America  0.921

More Radical Index Changes

In [116]:
df.reset_index()
#This simply keeps the ordering as the index when reset which is default indexing

            index  Population      GDP      Continent    HDI
0          Canada    37742154   1736.4  North America  0.936
1          France    65273511   2715.5         Europe  0.901
2         Germany    83783942   3845.6         Europe  0.942
3           Italy    60461826   2001.2         Europe  0.895
4           Japan   126476461   4971.8           Asia  0.925
5  United Kingdom    67886011   2829.1         Europe  0.929
6   United States   331002651  21433.2  North America  0.921

1.Restore default integer index

‚Ä¢Converts a custom index back to a simple 0-based index (0, 1, 2, ...).

2.Turn index into a column

‚Ä¢Moves the current index into a regular column (if drop=False, which is default).

3.Clean up after groupby() or multi-index operations

‚Ä¢Useful after operations like groupby() or pivot_table() that return hierarchical/multi-level indexes.

4.Prepare for exporting to CSV or Excel

‚Ä¢Ensures index values are part of the data and not lost when exporting.

5.Simplify DataFrame structure

‚Ä¢Removes complex index formats (like datetime index or multi-index) to make the DataFrame easier to work with.

6.Facilitate merging or joining

‚Ä¢Helps reset the structure so you can merge with other DataFrames on standard columns.

7.Make filtering output more readable

‚Ä¢After filtering or slicing where index gets messy, resetting can make the result clean and readable.

8.In-place restructuring

‚Ä¢With inplace=True, you can directly apply changes to the original DataFrame without creating a new one.

    
‚Ä¢drop=True: Removes the index completely instead of adding it as a column.
‚Ä¢inplace=True: Applies the change directly to the DataFrame without returning a new one.

In [117]:
df.set_index("Population")
#This will set the index as Population

                GDP      Continent    HDI
Population
37742154     1736.4  North America  0.936
65273511     2715.5         Europe  0.901
83783942     3845.6         Europe  0.942
60461826     2001.2         Europe  0.895
126476461    4971.8           Asia  0.925
67886011     2829.1         Europe  0.929
331002651   21433.2  North America  0.921

Creating Columns from other Columns

Altering a dataframe often involves combining different columns into another. For example in our country analysis, we could try to calculate the "GDP per capita", which is just GDP / Population

In [118]:
df[["Population", "GDP"]]

                Population      GDP
Canada            37742154   1736.4
France            65273511   2715.5
Germany           83783942   3845.6
Italy             60461826   2001.2
Japan            126476461   4971.8
United Kingdom    67886011   2829.1
United States    331002651  21433.2

In [119]:
df["GDP"] / df["Population"]

Canada            0.000046
France            0.000042
Germany           0.000046
Italy             0.000033
Japan             0.000039
United Kingdom    0.000042
United States     0.000065
dtype: float64

In [120]:
df["GDP Per Capita"] = df["GDP"] / df["Population"]

In [121]:
df
#Here new Column name GDP Per Capita is created using other two columns

                Population      GDP      Continent    HDI  GDP Per Capita
Canada            37742154   1736.4  North America  0.936        0.000046
France            65273511   2715.5         Europe  0.901        0.000042
Germany           83783942   3845.6         Europe  0.942        0.000046
Italy             60461826   2001.2         Europe  0.895        0.000033
Japan            126476461   4971.8           Asia  0.925        0.000039
United Kingdom    67886011   2829.1         Europe  0.929        0.000042
United States    331002651  21433.2  North America  0.921        0.000065

Statical Info

We have already seen the describe method which shows us a good summary of the dataframe. There are other methods as well

In [122]:
df.head()

         Population     GDP      Continent    HDI  GDP Per Capita
Canada     37742154  1736.4  North America  0.936        0.000046
France     65273511  2715.5         Europe  0.901        0.000042
Germany    83783942  3845.6         Europe  0.942        0.000046
Italy      60461826  2001.2         Europe  0.895        0.000033
Japan     126476461  4971.8           Asia  0.925        0.000039

In [123]:
df.describe()

         Population           GDP       HDI  GDP Per Capita
count  7.000000e+00      7.000000  7.000000        7.000000
mean   1.103752e+08   5647.542857  0.921286        0.000045
std    1.010357e+08   7047.741341  0.017423        0.000010
min    3.774215e+07   1736.400000  0.895000        0.000033
25%    6.286767e+07   2358.350000  0.911000        0.000040
50%    6.788601e+07   2829.100000  0.925000        0.000042
75%    1.051302e+08   4408.700000  0.932500        0.000046
max    3.310027e+08  21433.200000  0.942000        0.000065

In [124]:
population = df["Population"]

In [125]:
population.min(), population.max()

(37742154, 331002651)

In [126]:
population.sum()

np.int64(772626556)

In [127]:
population.sum() / len(population)

np.float64(110375222.28571428)

In [128]:
population.mean()

np.float64(110375222.28571428)

In [129]:
population.std()

101035650.10298678

In [130]:
population.median()

67886011.0

In [131]:
population.describe()

count    7.000000e+00
mean     1.103752e+08
std      1.010357e+08
min      3.774215e+07
25%      6.286767e+07
50%      6.788601e+07
75%      1.051302e+08
max      3.310027e+08
Name: Population, dtype: float64

In [132]:
population.quantile(.25)

np.float64(62867668.5)

In [133]:
population.quantile([.2,.4,.6,.8,1])

0.2     61424163.0
0.4     66318511.0
0.6     77424769.6
0.8    117937957.2
1.0    331002651.0
Name: Population, dtype: float64